*, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    /* overflow: hidden; */
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: rgb(200, 200, 200);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(130, 130, 130);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(130, 130, 130);
}

@media screen and (min-width: 750px) {    

    #navigation-bar{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 50px;
        background-color: rgb(20, 20, 20);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 40px;
    }

    #logo{
        width: 40px;
        height: calc(100% - 10px);
        background-color: transparent;
        transform: rotate(-45deg);
    }

    #menu{
        width: fit-content;
        height: 100%;        
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .menu-button{
        margin: 0px 10px;
        cursor: pointer;
    }

    .border-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #home-border{
        width: 0;
        height: 1px;
        background-color: rgb(200, 200, 200);
        transition: width 0.5s ease-in-out;
    }

    #about-us-border{
        width: 0;
        height: 1px;
        background-color: rgb(200, 200, 200);
        transition: width 0.5s ease-in-out;
    }

    #get-started-button{
        padding: 7px 15px;
        margin: 0px 10px;
        background-color: rgb(71, 111, 255);
        color: white;
        border-radius: 30px;
        cursor: pointer;
    }

    #content-wrapper{
        position: absolute;
        top: 50px;
        left: 0;
        width: 100vw;
        height: calc(100vh - 50px);
        background: linear-gradient(45deg, rgb(10, 10, 10), rgb(80, 80, 80));
        overflow-y: auto;
        overflow-x: hidden;
    }

    #viewport-1{
        position: relative;
        width: 100%;
        height: 400px;
        background-color: transparent;
    }

    #what-is-python{
        position: relative;
        width: 80%;
        height: 300px;
        margin: 50px 10% 50px 10%;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #python-features{
        position: relative;
        width: 80%;
        height: 300px;
        margin: 0px 10% 50px 10%;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }

    #what-is-python-for{
        width: 80%;
        height: 300px;
        margin: 0px 10% 50px 10%;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }

    .text{
        width: 45%;
        height: 100%;
        padding: 15px 0px;
    }

    .animation{
        width: 45%;
        height: 100%;
        background-color: transparent;
    }

    .text-title{
        font-size: 18px;
        /* font-weight: 500; */
        width: 100%;
        height: 15%;
    }

    .text-content{
        width: 100%;
        height: 85%;
        overflow-y: auto;
        padding-right: 10px;
        line-height: 1.5;
    }

    .text-lists{
        padding-left: 15px;
    }

    .lists{
        list-style-position: outside;
        list-style-type: square;
    }

    #footer-bar{    
        width: 100vw;
        height: 100px;
        padding: 20px;
        background-color: rgb(10, 10, 10);
    }
}

@media screen and (max-width: 750px) {
    #navigation-bar{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 50px;
        background-color: rgb(20, 20, 20);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 40px;
    }

    #logo{
        width: 40px;
        height: calc(100% - 10px);
        background-color: transparent;
        transform: rotate(-45deg);
    }

    #menu{
        width: fit-content;
        height: 100%;        
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .menu-button{
        margin: 0px 10px;
        cursor: pointer;
    }

    .border-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #home-border{
        width: 0;
        height: 1px;
        background-color: rgb(200, 200, 200);
        transition: width 0.5s ease-in-out;
    }

    #about-us-border{
        width: 0;
        height: 1px;
        background-color: rgb(200, 200, 200);
        transition: width 0.5s ease-in-out;
    }

    #get-started-button{
        padding: 7px 15px;
        margin: 0px 10px;
        background-color: rgb(71, 111, 255);
        color: white;
        border-radius: 30px;
        cursor: pointer;
    }

    #content-wrapper{
        position: absolute;
        top: 50px;
        left: 0;
        width: 100vw;
        height: calc(100vh - 50px);
        background: linear-gradient(45deg, rgb(10, 10, 10), rgb(80, 80, 80));
        overflow-y: auto;
        overflow-x: hidden;
    }

    #viewport-1{
        position: relative;
        width: 100%;
        height: 400px;
        background-color: transparent;
    }

    #what-is-python{
        position: relative;
        width: 80%;
        height: 300px;
        margin: 50px 10% 50px 10%;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #python-features{
        position: relative;
        width: 80%;
        height: 300px;
        margin: 0px 10% 50px 10%;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }

    #what-is-python-for{
        width: 80%;
        height: 300px;
        margin: 0px 10% 50px 10%;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }

    .text{
        width: 45%;
        height: 100%;
        padding: 15px 0px;
    }

    .animation{
        width: 45%;
        height: 100%;
        background-color: transparent;
    }

    .text-title{
        font-size: 18px;
        /* font-weight: 500; */
        width: 100%;
        height: 15%;
    }

    .text-content{
        width: 100%;
        height: 85%;
        overflow-y: auto;
        padding-right: 10px;
        line-height: 1.5;
    }

    .text-lists{
        padding-left: 15px;
    }

    .lists{
        list-style-position: outside;
        list-style-type: square;
    }

    #footer-bar{
        width: 100vw;
        height: 100px;
        background-color: rgb(10, 10, 10);
    }
}