*, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    overflow: hidden;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: rgb(200, 200, 200);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(130, 130, 130);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(130, 130, 130);
}

#container{
    width: 100vw;
    height: 100vh;
}

.popup {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(20, 20, 20);
    padding: 10px;
    border-radius: 5px;
}

@media screen and (min-width: 750px) {
    :root{
        --width-side-bar: 300px;
        --height-chat-bar: 100px;
        --height-navigation-bar: 40px;

        --height-side-top-bar: 50px;
        --height-side-bottom-bar: 50px;
    }

/* ============================================================================== */

    #side-bar{
        position: absolute;
        top: 0;
        left: 0;
        width: var(--width-side-bar);
        height: 100%;
        background-color: rgb(30, 30, 30);
    }

    #side-top-bar{
        width: 100%;
        height: var(--height-side-top-bar);
        border-right: 1px solid rgb(120, 120, 120);
        padding: 10px 0px;
        display: flex;
        justify-content: center;
    }

    #add-button{
        margin-left: 7px;
    }

    #back-button{
        margin-right: 7px;
    }
    
    #search-input {
        outline: none;
        border: none;
        height: 100%;
        width: 150px;
        padding: 0px 0px 0px 10px;
        border-radius: 5px 0px 0px 5px;    
        background-color: rgb(70, 70, 70);
        line-height: 30px;
    }

    #svg-search{
        transform: rotate(-45deg);
    }

    #search-button{
        background-color: rgb(70, 70, 70);
        border-radius: 0px 5px 5px 0px;
        padding-left: 0px;
    }

    #clear-text-button{
        background-color: rgb(70, 70, 70);
        border: none;
        padding-right: 0px;
    }

    .side-top-button{
        padding: 3px;
        cursor: pointer;
    }

    #side-middle-bar{
        width: 100%;
        height: calc(100% - var(--height-side-top-bar) - var(--height-side-bottom-bar));
        border-right: 1px solid rgb(120, 120, 120);
        border-top: 1px solid rgb(120, 120, 120);
        border-bottom: 1px solid rgb(120, 120, 120);
        padding: 5px;
        overflow-y: auto;
    }

    #side-bottom-bar{
        width: 100%;
        height: var(--height-side-bottom-bar);
        border-right: 1px solid rgb(120, 120, 120);
        display: flex;
        padding: 10px;
        justify-content: space-between;
        align-items: center;        
    }

    #help-button{
        width: 30px;
        height: 100%;
        cursor: pointer;
    }

    #clear-button{
        border: 2px solid rgb(120, 120, 120);
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    #clear-button:hover{
        background-color: rgb(60, 60, 60);
    }

    #clear-button:active{
        background-color: rgb(50, 50, 50);
    }

/* ============================================================================== */

    #content-bar{
        position: absolute;
        right: 0;
        top: 0;
        width: calc(100% - var(--width-side-bar));
        height: calc(100% - var(--height-chat-bar));
        background-color: rgb(70, 70, 70);
    }

    #content-bar-wrapper{
        background-color: transparent;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }

/* ============================================================================== */

    #chat-bar{
        position: absolute;
        right: 0;
        bottom: 0;
        width: calc(100% - var(--width-side-bar));
        height: var(--height-chat-bar);
        background-color: rgb(40, 40, 40);
        border-top: 1px solid rgb(120, 120, 120);        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 15px;
    }

    #textarea-wrapper{
        display: flex;
        justify-content: center;
        align-items: end;
        width: 100%;
        height: 44px;
    }

    #textarea-padding{
        width: 70%;
        height: 100%;
        resize: none;
        outline: none;
        border: none;
        border-radius: 5px;    
        background-color: rgb(70, 70, 70);
    }

    #textarea-chat{
        height: 24px;
        line-height: 24px;
        width: calc(100% - 20px);
        resize: none;
        outline: none;
        border: none;
        background-color: rgb(70, 70, 70);
        overflow-y: hidden;
        margin: 10px;
    }

    #send-button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        margin-bottom: 2px;
        width: 40px;
        height: 40px;
        background-color: rgb(71, 111, 255);
        border-radius: 5px;
        cursor: pointer;
    }

    /* #textarea-chat::placeholder{
        position: absolute;
        top: 5px;
    } */

/* ============================================================================== */

    #navigation-bar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: var(--height-navigation-bar);
        background-color: violet;
        display: none;
    }

/* ============================================================================== */
}

@media screen and (max-width: 750px) {
    :root{
        --width-side-bar: 300px;
        --height-chat-bar: 100px;
        --height-navigation-bar: 40px;

        --height-side-top-bar: 50px;
        --height-side-bottom-bar: 50px;
    }

/* ============================================================================== */

    #side-bar{
        position: absolute;
        top: 0;
        left: -100%;
        width: var(--width-side-bar);
        height: 100%;
        background-color: rgb(30, 30, 30);
        transition: left 0.3s ease-in-out;
    }

    #side-top-bar{
        width: 100%;
        height: var(--height-side-top-bar);
        border-right: 1px solid rgb(120, 120, 120);
        padding: 10px 0px;
        display: flex;
        justify-content: center;
    }

    #add-button{
        margin-left: 7px;
    }

    #back-button{
        margin-right: 7px;
    }
    
    #search-input {
        outline: none;
        border: none;
        height: 100%;
        width: 150px;
        padding: 0px 0px 0px 10px;
        border-radius: 5px 0px 0px 5px;    
        background-color: rgb(70, 70, 70);
        line-height: 30px;
    }

    #svg-search{
        transform: rotate(-45deg);
    }

    #search-button{
        background-color: rgb(70, 70, 70);
        border-radius: 0px 5px 5px 0px;
        padding-left: 0px;
    }

    #clear-text-button{
        background-color: rgb(70, 70, 70);
        border: none;
        padding-right: 0px;
    }

    .side-top-button{
        padding: 3px;
        cursor: pointer;
    }

    #side-middle-bar{
        width: 100%;
        height: calc(100% - var(--height-side-top-bar) - var(--height-side-bottom-bar));
        border-right: 1px solid rgb(120, 120, 120);
        border-top: 1px solid rgb(120, 120, 120);
        border-bottom: 1px solid rgb(120, 120, 120);
        padding: 5px;
        overflow-y: auto;
    }

    #side-bottom-bar{
        width: 100%;
        height: var(--height-side-bottom-bar);
        border-right: 1px solid rgb(120, 120, 120);
        display: flex;
        padding: 10px;
        justify-content: space-between;
        align-items: center;        
    }

    #help-button{
        width: 30px;
        height: 100%;
        cursor: pointer;
    }

    #clear-button{
        border: 2px solid rgb(120, 120, 120);
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    #clear-button:hover{
        background-color: rgb(60, 60, 60);
    }

    #clear-button:active{
        background-color: rgb(50, 50, 50);
    }

/* ============================================================================== */

    #content-bar{
        position: absolute;
        right: 0;
        top: var(--height-navigation-bar);
        width: 100%;
        height: calc(100% - var(--height-chat-bar) - var(--height-navigation-bar));
        background-color: rgb(70, 70, 70);
    }

    #content-bar-wrapper{
        background-color: transparent;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }

/* ============================================================================== */

    #chat-bar{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: var(--height-chat-bar);
        background-color: rgb(40, 40, 40);
        border-top: 1px solid rgb(120, 120, 120);        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 15px;
    }

    #textarea-wrapper{
        display: flex;
        justify-content: center;
        align-items: end;
        width: 100%;
        height: 44px;
    }

    #textarea-padding{
        width: 70%;
        height: 100%;
        resize: none;
        outline: none;
        border: none;
        border-radius: 5px;    
        background-color: rgb(70, 70, 70);
    }

    #textarea-chat{
        height: 24px;
        line-height: 24px;
        width: calc(100% - 20px);
        resize: none;
        outline: none;
        border: none;
        background-color: rgb(70, 70, 70);
        overflow-y: hidden;
        margin: 10px;
    }

    #send-button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        margin-bottom: 2px;
        width: 40px;
        height: 40px;
        background-color: rgb(71, 111, 255);
        border-radius: 5px;
        cursor: pointer;
    }

    /* #textarea-chat::placeholder{
        position: absolute;
        top: 5px;
    } */

/* ============================================================================== */

    #navigation-bar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: var(--height-navigation-bar);
        background-color: rgb(40, 40, 40);
        border-bottom: 1px solid rgb(120, 120, 120);
        display: flex;
        padding: 0px 20px 0px 20px;
        justify-content: space-between;
        align-items: center;
    }

    #hamburger-button{
        width: 30px;
        height: 30px;
        background-color: transparent;
        cursor: pointer;
    }

    #another-back-button{
        width: 30px;
        height: 30px;
        background-color: transparent;
        cursor: pointer;
    }

    #cancel-button{
        width: 30px;
        height: 30px;
        background-color: transparent;
        position: absolute;
        top: 10px;
        left: -100%;
        border: 2px solid white;
        border-radius: 5px;
        transition: left 0.3s ease-in-out;
        cursor: pointer;
    }

    #cancel-button svg{
        transform: rotate(-45deg);
    }
}